<div id="footer">
    <div id="footer_wrapper">       
        <div id="footer_block">
            <div>
                <h3>Elérhetőségeink</h3>
                <ul>
                    <li>Székhely: 2089 Telki Muskátli utca 1.</li>
                    <li>Tel.:06554998562</li>
                    <li>Emailcím: telkiuzlethaz@t-online.hu</li>
                </ul>
            </div>

            <div>
                <h3>Keress minekt az alábbi közösségi oldalakon</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Instagramm</li>
                    <li>Twitter</li>
                </ul>
            </div>
        </div>
    </div>

</div>